<!-- <h1>About Us</h1>
<p>After losing several pets and spending hours on multiple sites, we decided to try and find a better way.  With Lost Buddy, your lost pet's information is used by machine learning algorithms to search all other pet finding sites, shelters and ads to better help you locate your animal.</p>
<p>Additionally, your pet's information is shared by thousands in your geographical area thereby increasing the chances your lost buddy--your beloved pet will be found.</p> -->

<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>
</div>