<!-- <h1>You can contact us at</h1>
<p>PetLover@lostbuddy.pet</p> -->

<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>
</div>