<!-- <h1>You can contact us at</h1>
<p>PetLover@lostbuddy.pet</p> -->

<div class="jumbotron">
    <div class="container">
        <h1>Contact us</h1>
        <p>PetLover@lostbuddy.pet <a href="http://lostbuddy.pet">Lost Buddy Pet Finder</a>.</p>
    </div>
</div>