<h1>Welcome to lostbuddy.pet the best place to locate your lost buddy</h1>
<p>Getting started is easy, just click the sign-in button below where you'll be prompted to enter some basic information and get started finding your lost pet.</p>
<p>Pet Finder Sign-in</p>
