<!-- <h1>Welcome to lostbuddy.pet the best place to locate your lost buddy</h1>
<p>Getting started is easy, just click the sign-in button below where you'll be prompted to enter some basic information and get started finding your lost pet.</p>
<p>Pet Finder Sign-in</p> -->

<% if user_signed_in? %>

    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome Back to LostBuddy!</h1> 
        </div>
    </div> 

 <% else %>    

    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to LostBuddy</h1>
            <p>Where finding your lost pet is simplified.</p>
            <%= link_to "Learn more »", "#", class: "btn btn-success btn-lg" %> 
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Simple</h2>
                <p>We harness the power of the internet to help you find your lost animal. We search everywhere, so you don't have to.</p>
                <p><%= link_to "View details", "#", class: "btn btn-success" %></p>
            </div>
            <div class="col-md-4">
                <h2>Fast</h2>
                <p>Our search algorithms will instantly match your pet's details with databases in your area.  You can be notified of results via text and/or email.</p>
                <p><%= link_to "View details", "#", class: "btn btn-success" %></p>
            </div>
            <div class="col-md-4">
                <h2>Dependable</h2>
                <p>Search results are automatically matched with your pet's information, increasing your chance of a match and successful retrieval.</p>
                <p><%= link_to "View details", "#", class: "btn btn-success" %></p>
            </div>
        </div>
    </div>
    
<% end %>